extends layout

block content
	.container
	row.box1.bodycon
		p Welcome to My #{title}
		a.btn.btn-primary.btn-md(href="/bulletinboard") Post to Bulletin Board
		a.btn.btn-primary.btn-md(href="/bulletinboard/show") Go To Bulletin Board