extends ../layout

block content
	.formbody
		form(action='/bulletinboard',method='post')
			.form-title
				h3 My Bulleting Board - Sequelize CLI
			
			.form-group
				label(for='title') Title
				input.form-control(name='title' required)
			.form-group
				label(for='body') Message
				textarea.form-control.col-md-12.textarea(name='body')
			.form-group
				input.btn.btn-primary.btn-md(type='submit',value='Post') 